<template>
    <!-- выводит название места -->
    <div class="cell-item">
        <slot></slot>
    </div>
        <!-- выводим список жителей -->
    <div class="cell-item" v-if="citizensList">
        <div
            v-for="value, index in citizensList"
            :key="index"
        >
            <span class="tooltip" :data-tooltip="population">{{ value }}</span>
        </div>
    </div>
</template>

<script>
import {mapGetters} from 'vuex';
import RowItem from '@/components/RowItem.vue';
export default {
    name: 'CellItem',
    components: {
        RowItem,
    },
    props: ['citizensObj'],
    computed: {
        ...mapGetters('tree', {
            cities: 'getCities',
        }),
        citizensList(){
            return this.citizensObj.citizens;
        },
        population(){
            let city = this.cities.find(item => item.id == this.citizensObj.cityId);
            return `${city.name}, ${city.data} жителей`;
        }
    },
}
</script>

<style>
.cell-item {
    min-width: 150px;
    padding: 8px;
}
.tooltip {
    cursor: help;
}
.tooltip::after {
	background: rgba(0, 0, 0, 0.8);
	border-radius: 8px 8px 8px 0px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	color: #FFF;
	content: attr(data-tooltip);
	margin-top: -24px;
	opacity: 0;
	padding: 3px 7px;
	position: absolute;
	visibility: hidden;
			
	transition: all 0.4s ease-in-out;
}
.tooltip:hover::after {
	opacity: 1;
	visibility: visible;
}
</style>