<template>
    <div class="row-item">
        <cell-item :citizens-obj="citizens">
            {{ nameItem }}
        </cell-item>
        <cell-item v-if="childs" :citizens-obj="citizens">
            <row-item 
                v-for="(value, name) in childs"
                :key="name"
                :obj-items="value"
            >
            </row-item>
        </cell-item>
    </div>
</template>
<script>
import CellItem from '@/components/CellItem.vue';
export default {
    name: 'RowItem',
    components: {
        CellItem,
    },
    props: ['objItems'],
    computed: {

        childs(){
            return this.objItems.childs?.citizens ? false : this.objItems.childs;
        },
        citizens(){
            return this.objItems.childs?.citizens ? this.objItems.childs : false;
        },
        nameItem(){
                return this.objItems.name ?? '';
        },
    },
}
</script>

<style>
.row-item {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #000;
}
.row-item:last-child {
    border-bottom: none;
}
</style>