<template>
    <div>
        <button @click="startFetchTree">Запустить</button>
    </div>
    <section v-if="citizens" class="content">
        <row-item
            v-for="(value, name, index) of citizens"
            :key="index"
            :obj-items="value"
            :class="'up-level'"
            >
        </row-item>
    </section>
</template>

<script>
import RowItem from '@/components/RowItem.vue';
import {mapActions, mapGetters} from 'vuex';
export default {
    name: 'Tree',
    components: {
        RowItem,
    },
    computed: {
        ...mapGetters('tree', {
            citizens: 'getCitizens',
            cities: 'getCities',
        }),
    },
    methods: {
        ...mapActions('tree', {
            putCitizens: 'putCitizens',
            putCities: 'putCities',
        }),
        async startFetchTree(){
            try{
                let responce = await fetch('http://localhost:3001/api/citizen/tree');
                if(responce.ok){
                    let result = await responce.json();
                    if(!result.status){
                        console.log('Ошибка в работе сервера!')
                        return;
                    }
                    this.putCitizens(result.data.citizens);
                    this.putCities(result.data.cities);
                }
            }catch{
                console.log('Не удается подключиться к серверу!');
            }

        },
    }
}
</script>

<style>
.content {
    display: inline-block;
}
.up-level {
    border-color: blue;
}
</style>